* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: sans-serif, 'Roboto', 'Helvetica', 'Arial';
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.container-bears {
  background-color: #003366;
  color: #333;
}

.container-resume {
  background-color: #000000;
  color: #333;
}

#page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  position: relative;
}


nav#main-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  position: relative;
}

nav#main-nav ul li {
  margin: 0 1.5em;
}

nav#main-nav ul li a {
  text-decoration: none;
  color: #0066cc;
  font-weight: bold;
}

header {
  text-align: center;
  margin-bottom: 2em;
  position: relative;
}


#header-bears h1 {
  font-size: 1.5em;
  color: #da291c;
}  


header h1 {
  font-size: 1.5em;
  color: #228b22;
}

#header-resume h1 {
  font-size: 1.5em;
  color: #fff; 
}


#main-content {
  background: #fff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

#main-content-bears {
  float: right;
  background: #fff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#main-content-resume {
  float: right;
  background: #fff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#main-content h2 {
  font-size: 1.5em;
  color: #0066cc;
}

#main-content-bears h2 {
  font-size: 2em;
  color: #003366; 
}

#main-content-resume h2 {
  color: #0066cc;
}

#main-content h3 {
  color: #228b22;
}


ul {
  list-style-type: square;
  padding-left: 20px;
}

#travel ul {
  margin-bottom: 1em;
}

#Starters h3 {
  font-size: 1em;
  color: #da291c;
}


@media (min-width: 768px) {
  nav#main-nav ul {
    float: none;
    flex-direction: column;
    align-items: center;
  }

  #header-bears h1 {
    font-size: 2em;
  }  

  header h1 {
    font-size: 2em;
  }

  #main-content {
    padding: 1.5em;
  }
}


@media (min-width: 992px) {
  nav#main-nav ul {
    float: none;
    flex-direction: column;
    align-items: center;
  }
  
  #header-bears h1 {
    font-size: 2.5em;
  }

  header h1 {
    font-size: 2.5em;
  }

  #main-content {
    padding: 2em;
  }
}






